.flag {
  width: 80vw;
  max-width: 800px;
  height: calc(80vw * 79 / 128);
  max-height: calc(800px * 79 / 128);
  margin: 50px auto;
  background: linear-gradient(
    180deg,
    red,
    red calc(100% / 6),
    orange calc(100% / 6),
    orange calc(100% / 6 * 2),
    yellow calc(100% / 6 * 2),
    yellow calc(100% / 6 * 3),
    green calc(100% / 6 * 3),
    green calc(100% / 6 * 4),
    blue calc(100% / 6 * 4),
    blue calc(100% / 6 * 5),
    purple calc(100% / 6 * 5),
    purple calc(100%)
  );
}
